ENV=development
JWT_SECRET_KEY=thisissecretkey
SECRET_KEY=ascfeafhkjahfk
PORT=8080

DB_URL=mysql+pymysql://admin:admin@localhost/dilo-workshop
DB_USER=admin
DB_PASS=admin
DB_HOST=localhost
DB_NAME=dilo-workshop